alembic==1.19.1
annotated-types==0.8.0
greenlet==3.5.5
iniconfig==2.3.0
Mako==1.4.1
MarkupSafe==3.0.3
packaging==26.3
pluggy==1.6.0
psycopg==3.3.4
psycopg-binary==3.3.4
pydantic==2.13.4
pydantic-settings==2.15.0
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
pytest-asyncio==1.4.0
python-dotenv==1.2.2
SQLAlchemy==2.0.52
sqlmodel==0.0.39
typing-inspection==0.4.4
typing_extensions==4.16.0
